{% extends "base.html" %}
{% block title %}Remembers{% endblock %}
{% block content %}
<style>

.popover {
  text-align: center;
}
</style>
<div class="row-fluid">
  <div class="row12">
    <section id="examples">
      <div class="page-header" style="text-align: center;">
        <h1>Remembers</h1><h3 class="muted"><em>Memorial Generator</em></h3>
      </div>
      <p class="lead" style="text-align: center;">A simple site that helps users generate memorial galleries like <a href="/p/hurricane_sandy_memorial_project/">this one</a>, a memorial for the victims of Hurricane Sandy. <br /><a href="#reg" role="button" class="btn btn-large" data-toggle="modal" style="text-align:center;">Create Your Own</a></p>
    </section>
  </div>
  <div id="reg" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel" style="color: black;">Create Memorial Site</h3>
    </div>
    <div class="modal-body" style="color: black;">
      <p><a href="https://docs.google.com/spreadsheet/ccc?key=0An-A-lITWCO8dGdQWk5Wb1ZsMUZzMmdiWHdMWW9DMHc#gid=0">Example SpreadSheet</a></p>
      <form class="form-horizontal" name="canhelp" action="/create" method="post">
        <div class="control-group">
          <label class="control-label">Memorial Title <a rel="popover" data-content="This will be the title other users see when they visit your memorial, make it something short and relevant." data-original-title="The Memorial TItle" class="tooly">(?)</a></label>
          <div class="controls">
            <input type="text" name="title" placeholder="My Memorial">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Memorial Doc URL <a rel="popover" data-content="Paste the url to your <b>published</b> google doc here (to publish your doc, File > Publish)." data-original-title="Finding your Google Doc ID" class="tooly">(?)</a></label>
          <div class="controls">
            <input type="text" name="docid" placeholder="https://docs.google.com/spreadsheet/ccc?key=0An-A-lITWCO8dG8zWXFQVEtMa05SVzYzWWZRMTRmYUE#gid=0">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Memorial Description<a rel="popover" data-content="This should be a short blurb describing what your memorial, with links to valid material." data-original-title="Memorial Description" class="tooly">(?)</a></label>
          <div class="controls">
            <textarea cols="40" rows="5" name="desc"></textarea>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <!--<script type="text/javascript"src="http://www.google.com/recaptcha/api/challenge?k=6LcT7tESAAAAAEp2I0iBJWDNvrtoxDt0XsQXaKhm"></script>-->
          </div>
        </div>

        <input type="submit" style="btn btn-primary btn-large; float: right" value="Submit"/>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script>
    $('.tooly').popover({ html : true, placement : "left", trigger : "hover"})
    // $('#tooly').mouseenter(function (){
    //   $(this).popover('show');
    // }).mouseleave(function (){
    //   $(this).popover('hide');
    // });
  </script>
{% endblock %}