{% extends "base.html" %}
{% block title %}{{ page['title'] }}{% endblock %}
{% block content %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <div class="row-fluid">
    <div class="row12">
      <section id="examples">
        <div class="page-header">
          <h1 class="muted" style="text-align: center;">{{ page['title'] }}</h1>
        </div>
        <p class="lead" style="text-align: center;">{{ page['desc']|safe }}</p>
        <p style="text-align: center;"><em><a href="https://docs.google.com/spreadsheet/ccc?key={{ page['docid'] }}">Visit the original document</a></em></p>
        <p style="text-align: center !important;"><em>
          <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet This</a>
        </em></p>
        <hr>
        <ul class="thumbnails bootstrap-examples">
          {% for person in persons %}
            <li class="span3" id="entry_{{ person['id'] }}">
              <a class="thumbnail" {% if person['photo'] %} title="{{ person['name'] }}" rel="shadowbox[people]" href="{{ person['photo'] }}" {% endif %} >
                <img src="{% if person['photo'] %}{{ person['photo'] }}{% else %}/static/img/unk.gif{% endif %}" alt="">
              </a>
              <h4>{{ person['name'] }}{% if person['age'] %}, {{ person['age'] }}{% endif %}</h4>
              <p>{{ person['shortbio'] }}</p>
              <p>{% if person['link'] %}<em><a href="{{ person['link'] }}">more</a></em>{% endif %}</p>
            </li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
  Shadowbox.init({
      handleOversize: "resize",
      modal: true
  });
  </script>
{% endblock %}